{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4" style="text-align: center;">Liste des articles</h1>
    <div class="container mx-auto">
        <div class="overflow-x-auto">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Contenu du Contexte</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>

                            {# je Vérifier que si `context` est un tableau ou doit être décodé en tant que tel #}
                            {% if article.context is iterable %}
                                {% set context = article.context %}
                            {% else %}
                                {# Je m assure que `article.context` est une chaîne JSON valide avant de décoder #}
                                {% set context = article.context|json_decode %}
                            {% endif %}
                            <div class="article">

                                {# Parcourir `context` qui est maintenant un tableau #}
                                {% for key, value in context %}
                                    <div class="article">

                                        {# Afficher la clé et la valeur #}
                                        <strong>{{ key }}:</strong> {{ value|json_encode }}
                                    </div>
                                {% endfor %}

                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if paginator.pageCount > 1 %}
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        {% for page in paginator.getIterator() %}
                            <li class="page-item {% if page == paginator.currentPage %}active{% endif %}">
                                <a class="page-link" href="{{ path('article_list', {'page': page}) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
